@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-logo: var(--logo);
  --font-sans: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  --animate-rainbow: rainbow 30s ease-in-out infinite;

  @keyframes rainbow {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(180deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

:root {
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-900);
  --logo: var(--color-amber-500);
  --muted: var(--color-stone-500);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-stone-900);
    --foreground: var(--color-stone-100);
    --logo: var(--color-amber-200);
    --muted: var(--color-stone-500);
  }
} */
