@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.stone.100");
  --foreground: theme("colors.stone.900");
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
